In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Q7.csv')

In [3]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [5]:
df.describe().transpose()

        count       mean       std     min       25%     50%    75%     max
Points   32.0   3.596563  0.534679   2.760   3.08000   3.695   3.92   4.930
Score    32.0   3.217250  0.978457   1.513   2.58125   3.325   3.61   5.424
Weigh    32.0  17.848750  1.786943  14.500  16.89250  17.710  18.90  22.900

In [7]:
df.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [14]:
df.mode(axis = 0,numeric_only=True).transpose()

            0      1
Points   3.07   3.92
Score    3.44    NaN
Weigh   17.02  18.90

In [16]:
df.min()

Unnamed: 0    AMC Javelin
Points               2.76
Score               1.513
Weigh                14.5
dtype: object

In [20]:
df.max()

Unnamed: 0    Volvo 142E
Points              4.93
Score              5.424
Weigh               22.9
dtype: object

In [21]:
df_q9 = pd.read_csv('Q9_a.csv')

In [25]:
df.skew()

Points    0.292780
Score     0.465916
Weigh     0.406347
dtype: float64

In [26]:
df.kurtosis()

Points   -0.450432
Score     0.416595
Weigh     0.864931
dtype: float64

In [23]:
df_q9.head(100)

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [28]:
df_q9.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [29]:
df_q9.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

In [30]:
df_q9b = pd.read_csv('Q9_b.csv')

In [32]:
df_q9b.head(100)

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [33]:
df_q9b.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [34]:
df_q9b.kurt()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

In [36]:
from scipy import stats

In [37]:
cars = pd.read_csv('Cars.csv')

In [38]:
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [40]:
cars.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
HP,81.0,117.469136,57.113502,49.000000,84.000000,100.000000,140.000000,322.000000
MPG,81.0,34.422076,9.131445,12.101263,27.856252,35.152727,39.531633,53.700681
VOL,81.0,98.765432,22.301497,50.000000,89.000000,101.000000,113.000000,160.000000
SP,81.0,121.540272,14.181432,99.564907,113.829145,118.208698,126.404312,169.598513
WT,81.0,32.412577,7.492813,15.712859,29.591768,32.734518,37.392524,52.997752

In [42]:
# a.P(MPG>38)

# p(MPG< 38)
p_less_val = stats.norm.cdf(x=38, loc=34.422076, scale=9.131445) # x -> val, loc -> mean, scale -> stdev

In [43]:
# p(MPG > 38) = 1- p(MPG< 38)
p_grt_val = 1-p_less_val
print(p_grt_val)

0.34759394041453007

In [44]:
# b.P(MPG<40)
p_less_val = stats.norm.cdf(x=40, loc=34.422076, scale=9.131445) 
print(p_less_val)

0.7293498604157946

In [45]:
# P (20<MPG<50)
p_less_20 = stats.norm.cdf(x=20, loc=34.422076, scale=9.131445)
print(p_less_20)

0.05712377822429007

In [47]:
p_less_50 = stats.norm.cdf(x=50, loc=34.422076, scale=9.131445)
print(p_less_50)

0.9559926858516099

In [48]:
p_bw_20_50 = p_less_50 - p_less_20
print(p_bw_20_50)

0.8988689076273199